# CMake Build Directory
/build/
/out/
/bin/

# Visual Studio / IDE specific files
.vs/
*.user
*.suo
*.sln
*.vcxproj
*.vcxproj.filters

# Compiled Object files and Executables (just in case they leak out of build/)
*.obj
*.exe
*.pdb
*.ilk